<div class="container mb-2">
  <div class="mas-formularios d-flex justify-content-end">
    <!-- Botón para abrir la ventana modal -->
    <button
      class="btn btn-dark"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#otrosRegistrosModal"
    >
      <i class="bi bi-list-task me-1"></i>Otros registros
    </button>
  </div>

  <!-- Ventana Modal -->
  <div
    class="modal fade"
    id="otrosRegistrosModal"
    tabindex="-1"
    aria-labelledby="otrosRegistrosLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <!-- Card con sombra -->
      <div class="modal-content shadow-sm">
        <div class="modal-header bg-dark text-white">
          <h5 class="modal-title" id="otrosRegistrosLabel">
            <i class="bi bi-list-task me-2"></i>Más formularios...
          </h5>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="d-grid gap-2 my-3">
            <a
              class="btn btn-dark my-2 active"
              (click)="redirectTo('/control-panel/employees')"
              data-bs-dismiss="modal"
            >
              <i class="bi bi-people-fill me-2"></i>Empleados
            </a>
            <a
              class="btn btn-dark my-2"
              (click)="redirectTo('/control-panel/users')"
              data-bs-dismiss="modal"
            >
              <i class="bi bi-person me-2"></i>Usuarios
            </a>
            <a
              class="btn btn-dark my-2"
              (click)="redirectTo('/control-panel/product-panel')"
              data-bs-dismiss="modal"
            >
              <i class="bi bi-box-seam me-2"></i>Productos
            </a>
            <a
              class="btn btn-dark my-2"
              (click)="redirectTo('/control-panel/clients')"
              data-bs-dismiss="modal"
            >
              <i class="bi bi-journal-bookmark me-2"></i>Clientes
            </a>
            <a
              class="btn btn-danger my-2"
              (click)="logout()"
            >
              <i class="bi bi-box-arrow-right me-2"></i>Cerrar sesión
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
