<footer class="bg-dark text-white">
    <div class="container">
      <div class="row py-4">
        <div class="col-md-3 col-lg-4 col-xl-3 text-center">
          <h5 class="text-uppercase mb-2 font-weight-bold PP">Panadería La Delicia</h5>
          <p>
            En nuestra panadería, la satisfacción del cliente es nuestra mayor
            prioridad. Cada día nos esforzamos por superar tus expectativas y brindarte una experiencia inigualable desde el momento en que cruzas nuestras puertas.
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto text-center">
          <h5 class="text-uppercase mb-4 font-weight-bold PP">Enlaces Rápidos</h5>
          <ul>
            <li *ngFor="let link of footerItems">
              <a [routerLink]="link.link" class="text-white text2">{{ link.label }}</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto text-center">
          <h5 class="text-uppercase mb-4 font-weight-bold PP">Contacto</h5>
          <ul>
            <li *ngFor="let detail of contactDetails">
              <i [class]="detail.icon"></i> {{ detail.text }}
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-2 mx-auto text-center">
          <h5 class="text-uppercase mb-4 font-weight-bold PP">Síguenos</h5>
          <ul>
            <li *ngFor="let social of socialLinks">
              <a [href]="social.link" target="_blank" class="text-white d-block">
                <i [class]="social.iconClass"></i> {{ social.platform }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
